# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list of languages used in Datascience
- List of Datascience tools
- Learning markdown

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

|Data Science Tools|
|-|
|Jupyter|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

x=200/60
print("200 minutes is equal to ", x, "Hours")

200 minutes is equal to  3.3333333333333335 Hours

## Author: ##
Fawad Taj